<!-- prettier-ignore -->
{{ $categories := delimit (split .Params.ID "-") "|" }}

{{ $priceString := printf "{\"dkk\": %v, \"eur\": %v}" .Params.Prices.DKK .Params.Prices.EUR }}
<button
    id="buyButton"
    class="button snipcart-add-item"
    type="button"
    data-item-id="{{ .Params.ID }}"
    data-item-price="{{ $priceString }}"
    data-item-description="{{ .Content }}"
    data-item-image="{{ .Permalink }}{{ .Params.ProductImage }}"
    data-item-name="{{ .Title }}"
    data-item-categories="{{ $categories }}"
    data-item-custom1-name="{{ .Params.SizeSelect }}"
    data-item-custom1-type="readonly"
    data-item-custom1-required="true"
>
    <span>{{ T "addToBag" }}</span>
    <img
        class="icon"
        src="/icons/bag-add-outline.svg"
        alt=""
        width="20"
        height="20"
    />
</button>
<script>
    const buyButton = document.querySelector('#buyButton');
    const sizeSelector = document.querySelector('#sizeSelector');
    buyButton.setAttribute('data-item-custom1-value', sizeSelector.value);
    sizeSelector.addEventListener('keyup', () => {
        buyButton.setAttribute('data-item-custom1-value', sizeSelector.value);
    });
</script>
