{{ define "main" }}
<section class="section section--first">
    <div class="section__content">
        <a
            href="#"
            class="frontPageHero"
        >
            <img
                class="frontPageHero__image"
                src="/images/elementa/bracelets-merging.JPG"
            />
            <div class="frontPageHero__content">
                <h1 class="title">Strål som en stjerne og gør verden lysere</h1>
                <p>
                    Dit køb bidrager til en lysere fremtid for personer, som har
                    det psykisk svært.
                </p>
            </div>
        </a>
        <ul class="frontPageCategories">
            {{ range .Site.Menus.category }}
            <li class="frontPageCategories__category">
                <a
                    href="{{ .URL }}"
                    class="frontPageCategories__link"
                >
                    <img
                        class="frontPageCategories__image"
                        src="/images/{{ .Page.Params.Img }}"
                        alt="{{ .Title }}"
                    />
                    <div class="frontPageCategories__text title">
                        {{ .Title }}
                    </div>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</section>
<section class="section">
    <div class="section__content">
        <h2 class="title title--center">Nyeste armbånd</h2>
        <ol class="productGrid">
            {{ range where .Site.RegularPages ".Params.ProductType" "bracelet"
            }} {{ partial "productTile.html" . }} {{ end }}
        </ol>
    </div>
</section>
<section class="section section--green">
    <div class="section__content">
        <h2 class="title title--center">Nyeste armbånd</h2>
        <ol class="productGrid">
            {{ range where .Site.RegularPages ".Params.ProductType" "bracelet"
            }} {{ partial "productTile.html" . }} {{ end }}
        </ol>
    </div>
</section>
<section class="section">
    <div class="section__content">
        <h2 class="title title--center">Nyeste ringe</h2>
        <ol class="productGrid">
            {{ range where .Site.RegularPages ".Params.ProductType" "ring" }} {{
            partial "productTile.html" . }} {{ end }}
        </ol>
    </div>
</section>
<section class="section">
    <div class="section__content">
        <h2 class="title title--center">Nyeste artikler</h2>
    </div>
</section>
{{ end }}
