{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "proseWrap": "always",
    "singleAttributePerLine": true,
    "arrowParens": "avoid",
    "printWidth": 80
}
