<!DOCTYPE html>
<html
    lang="{{ .Site.Language.Lang }}"
    dir="ltr"
>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <!-- prettier-ignore -->
        {{ partial "global/banner.html" . }}
        {{ partial "global/header.html" . }}
        {{ partial "global/search.html" . }}
        <main>{{ block "main" . }} {{ end }}</main>
        <!-- prettier-ignore -->
        {{ partial "global/footer.html" . }}
        {{ partial "snipcart/snipcart.html" . }}
        {{ partial "global/menu.html" . }}
        {{ partial "simpleanalytics/init.html" . }}
    </body>
</html>
