{{ define "main" }}
<section
    class="section"
    aria-label="{{ .Title }}"
>
    <div class="section__content article">
        {{ with .PublishDate }} {{ if eq $.Lastmod . }}
        <p>
            {{ T "published" }}
            <time datetime="{{ . }}">{{ . | time.Format ":date_long" }}</time>
        </p>
        {{ else }}
        <p>
            {{ T "lastUpdated" }}
            <time datetime="{{ $.Lastmod }}"
                >{{ $.Lastmod | time.Format ":date_long" }}</time
            >
        </p>
        {{ end }} {{end}}
        <h1 class="title title--arsenal">{{ .Title }}</h1>
        <details
            class="toc"
            open
        >
            <summary class="toc__title">{{ T "toc" }}</summary>
            {{ .TableOfContents }}
        </details>
        <div class="markdown">{{ .Content }}</div>
    </div>
</section>
{{ end }}
