{{ define "main" }}
<section
    class="section section--reverse"
    aria-label="{{ .Title }}"
>
    <details
        class="section__content"
        open
    >
        <summary>{{ T "toc" }}</summary>
        {{ .TableOfContents }}
    </details>
    <div class="section__content">
        {{ if eq .Lastmod .PublishDate }}
        <p>
            {{ T "published" }}
            <time datetime="{{ .PublishDate }}"
                >{{ .PublishDate | time.Format ":date_long" }}</time
            >
        </p>
        {{ else }}
        <p>
            {{ T "lastUpdated" }}
            <time datetime="{{ .Lastmod }}"
                >{{ .Lastmod | time.Format ":date_long" }}</time
            >
        </p>
        {{ end }}
        <h1 class="title title--arsenal">{{ .Title }}</h1>
        <div class="markdown">{{ .Content }}</div>
    </div>
</section>
{{ end }}
