{{ define "main" }}
<section
    class="section"
    aria-label="{{ .Title }}"
>
    <div class="section__content article">
        {{ if eq .Lastmod .PublishDate }}
        <p>
            {{ T "published" }}
            <time datetime="{{ .PublishDate }}"
                >{{ .PublishDate | time.Format ":date_long" }}</time
            >
        </p>
        {{ else }}
        <p>
            {{ T "lastUpdated" }}
            <time datetime="{{ .Lastmod }}"
                >{{ .Lastmod | time.Format ":date_long" }}</time
            >
        </p>
        {{ end }}
        <h1 class="title title--arsenal">{{ .Title }}</h1>
        <details open>
            <summary>{{ T "toc" }}</summary>
            {{ .TableOfContents }}
        </details>
        <div class="markdown">{{ .Content }}</div>
    </div>
</section>
{{ end }}
