.globalFooter {
    background-color: var(--color_green);
    color: var(--color_white);
    &__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
        padding: var(--size_large) calc(2 * var(--size_large));
    }
    &__title {
        text-decoration: none;
        font-family: Arsenal SC;
        font-weight: 700;
        font-size: 1.75em;
        width: 100%;
    }
    &__section {
        flex: 1;
    }
}

@media screen and (max-width: 550px) {
    .globalFooter {
        &__nav {
            padding: var(--size_large) var(--size_small);
        }
    }
}
