.globalHeader {
    padding: var(--size_large) calc(2 * var(--size_large));
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1200px;
    margin: auto;
    background-color: var(--color_white--80);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    &__section {
        flex: 1;
        display: flex;
        align-items: center;
        gap: var(--size_large);
        &--right {
            justify-content: right;
        }
    }
    &__title {
        text-decoration: none;
        font-family: Arsenal SC;
        font-weight: 700;
        font-size: var(--font_x-large);
        text-transform: uppercase;
    }
    &__action {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        text-decoration: none;
        font-size: var(--font_small);
        position: relative;
        &:hover {
            text-decoration: underline;
        }
    }
    &__sticky {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 10;
    }
}
@media screen and (max-width: 550px) {
    .hideOnMobile {
        display: none;
    }
    .globalHeader {
        padding: var(--size_medium) var(--size_small);
        &__section {
            gap: var(--size_small);
        }
    }
}
@media screen and (max-width: 350px) {
    .globalHeader {
        &__title {
            font-size: 1.5em;
        }
    }
}
