<meta charset="UTF-8" />
<meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
/>
<!-- prettier-ignore -->

<title>
    {{ if .IsHome }}
        {{ .Site.Title }} ★ {{ T "slogan" }}
    {{ else if (and (eq .Type "products") (eq .Kind "page"))}}
        {{ .Title }} {{ with .Params.Breadcrumb }}{{ . }}{{ end }} ★ {{ .Site.Title }}
    {{ else }}
        {{ .Title }} ★ {{ .Site.Title }}
    {{ end }}
</title>
<meta
    name="description"
    content="{{ with .Description }} {{ . | truncate 150 }} {{ else }} {{ .Summary | truncate 150 }} {{ end }}"
/>

{{ $styles := resources.Get "styles/main.scss" | css.Sass | resources.Minify }}
<link
    rel="stylesheet"
    href="{{ $styles.Permalink }}"
    type="text/css"
    crossorigin="anonymous"
/>

<link
    rel="icon"
    type="image/png"
    href="/favicon/favicon-96x96.png"
    sizes="96x96"
/>
<link
    rel="icon"
    type="image/svg+xml"
    href="/favicon/favicon.svg"
/>
<link
    rel="shortcut icon"
    href="/favicon/favicon.ico"
/>
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/favicon/apple-touch-icon.png"
/>
<meta
    name="apple-mobile-web-app-title"
    content="Stellaholm"
/>
<link
    rel="manifest"
    href="/favicon/site.webmanifest"
/>

{{ $globalMenu := resources.Get "scripts/globalMenu.js" | resources.Minify }}
<script
    type="module"
    src="{{ $globalMenu.Permalink }}"
></script>

{{ $globalSearch := resources.Get "scripts/globalSearch.js" | resources.Minify
}}
<script
    type="module"
    src="{{ $globalSearch.Permalink }}"
></script>

<link
    rel="preconnect"
    href="https://app.snipcart.com>"
/>
<link
    rel="preconnect"
    href="https://cdn.snipcart.com>"
/>
<link
    rel="stylesheet"
    href="https://cdn.snipcart.com/themes/v3.3.0/default/snipcart.css"
/>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js"
    integrity="sha512-Nqw1tH3mpavka9cQCc5zWWEZNfIPdOYyQFjlV1NvflEtQ0/XI6ZQ+H/D3YgJdqSUJlMLAPRj/oXlaHCFbFCjoQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
/>

{{ if (and (eq .Type "products") (eq .Kind "page") ) }} {{ $wishlist :=
resources.Get "scripts/wishlist.js" | resources.Minify }}
<script
    type="module"
    src="{{ $wishlist.Permalink }}"
></script>

{{ end }}
