<li>
    <a
        href="{{ .RelPermalink }}"
        class="productTile"
    >
        <img
            class="productTile__image"
            src="{{ .RelPermalink }}{{ .Params.ProductImage }}"
            alt="{{ .Params.ProductImage }}"
        />
        <img
            class="productTile__image productTile__image--hover"
            src="{{ .RelPermalink }}{{ .Params.ProductImage2 }}"
            alt="{{ .Params.ProductImage }}"
        />
        <div class="productTile__informations">
            <span class="productTile__title"> {{ .Title }} </span>
            <span class="productTile__price">
                {{ .Params.Price }} {{.Params.Valuta }}
            </span>
        </div>
    </a>
</li>
