<footer class="globalFooter">
    <nav class="globalFooter__nav">
        <a
            href=' {{ "/" | relLangURL }}'
            class="globalFooter__title"
            >stellaholm</a
        >
        <div class="globalFooter__section">
            <ul class="list">
                {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="globalFooter__section">
            <ul class="list">
                <li>
                    <a
                        href="https://www.instagram.com/stellaholmjewellery/"
                        target="_blank"
                    >
                        Instagram
                    </a>
                </li>
                {{ range .Site.Menus.footer }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>
</footer>
