<dialog
    id="globalSearch"
    open
>
    <search>
        <form role="search">
            <input
                id="search-query"
                placeholder="Search..."
                name="s"
                autocomplete="off"
                type="search"
                search
                autofocus
            />
        </form>
    </search>
    <ol
        id="search-results"
        aria-live="polite"
    ></ol>
    <script
        id="search-result-template"
        type="text/x-js-template"
    >
        <li class="search-results-summary" id="summary-${key}">
            <h4><a class="search-item" href="${link}">${title}</a></h4>
            <p>${price}</p>
            <p>${snippet}  ... <a class="search-item-more" href="${link}">[more]</a></p>
        </li>
    </script>
</dialog>

<script>
    summaryInclude = 60;
    var fuseOptions = {
        shouldSort: true,
        includeMatches: true,
        threshold: 0.0,
        tokenize: true,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: [
            { name: 'title', weight: 1 },
            { name: 'type', weight: 0.8 },
            { name: 'sign', weight: 0.8 },
            { name: 'productType', weight: 0.8 },
            { name: 'element', weight: 0.8 },
            { name: 'contents', weight: 0.5 },
        ],
    };

    document
        .querySelector('#search-results')
        .insertAdjacentHTML(
            'beforeend',
            '<p class="search-results-empty">Please enter a word or phrase above</p>'
        );

    function debounce(func, wait) {
        let timeout;
        return function (...args) {
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(this, args), wait);
        };
    }

    const debouncedExecuteInlineSearch = debounce(executeInlineSearch, 400);

    document
        .getElementById('search-query')
        .addEventListener('keyup', debouncedExecuteInlineSearch);

    function executeInlineSearch() {
        var emptyElement = document.querySelector('.search-results-empty');
        var summaryElement = document.querySelector('.search-results-summary');

        if (emptyElement) emptyElement.remove();
        if (summaryElement) summaryElement.remove();

        var query = document.getElementById('search-query').value;

        if (query) {
            executeSearch(query, true);
        } else {
            document.querySelector('#search-results').innerHTML =
                '<p class="search-results-empty">Please enter a word or phrase above.</p>';
        }
    }

    const fetchEndpoint =
        document.documentElement.getAttribute('lang') === 'da'
            ? '/da/index.json'
            : '/index.json';

    function executeSearch(searchQuery) {
        fetch(fetchEndpoint)
            .then(response => response.json())
            .then(data => {
                var pages = data;
                var fuse = new Fuse(pages, fuseOptions);
                var result = fuse.search(searchQuery);
                if (result.length > 0) {
                    document.querySelector('#search-results').innerHTML = '';
                    populateResults(result);
                } else {
                    document.querySelector('#search-results').innerHTML =
                        '<p class="search-results-empty">No matches found</p>';
                }
            });
    }

    function populateResults(result) {
        searchQuery = document.getElementById('search-query').value;
        result.forEach(function (value, key) {
            var templateDefinition = document.querySelector(
                '#search-result-template'
            ).innerHTML;

            var output = render(templateDefinition, {
                key: key,
                title: value.item.title,
                price: value.item.price,
                link: value.item.permalink,
                snippet: value.item.contents,
            });

            document
                .querySelector('#search-results')
                .insertAdjacentHTML('beforeend', output);
        });
    }

    function render(templateString, data) {
        var conditionalMatches, conditionalPattern, copy;
        conditionalPattern =
            /\$\{\s*isset ([a-zA-Z]*) \s*\}(.*)\$\{\s*end\s*}/g;

        copy = templateString;
        while (
            (conditionalMatches = conditionalPattern.exec(templateString)) !==
            null
        ) {
            if (data[conditionalMatches[1]]) {
                copy = copy.replace(
                    conditionalMatches[0],
                    conditionalMatches[2]
                );
            } else {
                copy = copy.replace(conditionalMatches[0], '');
            }
        }
        templateString = copy;

        for (var key in data) {
            var find = '\\$\\{\\s*' + key + '\\s*\\}';
            var re = new RegExp(find, 'g');
            templateString = templateString.replace(re, data[key]);
        }

        return templateString;
    }
</script>
