<dialog
    id="globalSearch"
    class="globalSearch"
>
    <div class="globalSearch__searchSection">
        <form
            id="globalSearchForm"
            role="search"
            class="globalSearch__form"
        >
            <input
                class="globalSearch__input"
                id="search-query"
                placeholder="Search..."
                name="s"
                autocomplete="off"
                onfocus="this.select()"
                type="search"
                search
                autofocus
            />
        </form>
        <button class="globalSearch__closeOnClick">
            <img
                width="36"
                height="36"
                src="/icons/close-outline-white.svg"
                alt="cross"
            />
        </button>
    </div>
    <ol
        class="productGrid"
        id="search-results"
        aria-live="polite"
    ></ol>
    <script
        id="search-result-template"
        type="text/x-js-template"
    >
            <li id="result-${key}">
            <a
                href="${link}"
                class="productTile"
            >
                <div class="imageWrapper">
                    <img
                        class="productTile__image"
                        src="${link}${productImage}"
                    />
                    <img
                        class="productTile__image productTile__image--hover"
                        src="${link}${productImage2}"
                    />
                </div>
                <div class="productTile__informations">
                    <span class="productTile__title">  ${title} </span>
                    <span class="productTile__price">
                        ${price} ${valuta}
                    </span>
                </div>
            </a>
        </li>
    </script>
</dialog>

<script>
    summaryInclude = 60;
    var fuseOptions = {
        shouldSort: true,
        isCaseSensitive: false,
        includeMatches: false,
        threshold: 0.5,
        tokenize: true,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: [
            { name: 'title', weight: 1 },
            { name: 'type', weight: 0.8 },
            { name: 'sign', weight: 0.8 },
            { name: 'productType', weight: 0.8 },
            { name: 'element', weight: 0.8 },
            { name: 'contents', weight: 0.5 },
        ],
    };

    document.querySelector('#search-results').innerHTML =
        '<li class="search-results-empty">{{ T "start_search" }}</li>';

    function debounce(func, wait) {
        let timeout;
        return function (...args) {
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(this, args), wait);
        };
    }

    const debouncedExecuteInlineSearch = debounce(executeInlineSearch, 400);

    document
        .getElementById('search-query')
        .addEventListener('keyup', debouncedExecuteInlineSearch);

    function executeInlineSearch() {
        var emptyElement = document.querySelector('.search-results-empty');
        var summaryElement = document.querySelector('.search-results-summary');

        if (emptyElement) emptyElement.remove();
        if (summaryElement) summaryElement.remove();

        var query = document.getElementById('search-query').value;

        if (query) {
            executeSearch(query, true);
        } else {
            document.querySelector('#search-results').innerHTML =
                '<li class="search-results-empty">{{ T "start_search" }}</li>';
        }
    }

    let fetchEndpoint = '/index.json';
    let currentValuta = '€';
    if (document.documentElement.getAttribute('lang') === 'da') {
        fetchEndpoint = '/da/index.json';
        currentValuta = 'DKK';
    }

    function executeSearch(searchQuery) {
        fetch(fetchEndpoint)
            .then(response => response.json())
            .then(data => {
                var pages = data;
                var fuse = new Fuse(pages, fuseOptions);
                var result = fuse.search(searchQuery);
                if (result.length > 0) {
                    document.querySelector('#search-results').innerHTML = '';
                    populateResults(result);
                } else {
                    document.querySelector('#search-results').innerHTML =
                        '<li class="search-results-empty">{{ T "no_products_found" }}</li>';
                }
            });
    }

    function populateResults(result) {
        searchQuery = document.getElementById('search-query').value;
        result.forEach(function (value, key) {
            var templateDefinition = document.querySelector(
                '#search-result-template'
            ).innerHTML;

            var output = render(templateDefinition, {
                key: key,
                title: value.item.title,
                price: value.item.price,
                link: value.item.permalink,
                snippet: value.item.contents,
                productImage: value.item.productImage,
                productImage2: value.item.productImage2,
                valuta: currentValuta,
            });

            document
                .querySelector('#search-results')
                .insertAdjacentHTML('beforeend', output);
        });
    }

    function render(templateString, data) {
        var conditionalMatches, conditionalPattern, copy;
        conditionalPattern =
            /\$\{\s*isset ([a-zA-Z]*) \s*\}(.*)\$\{\s*end\s*}/g;

        copy = templateString;
        while (
            (conditionalMatches = conditionalPattern.exec(templateString)) !==
            null
        ) {
            if (data[conditionalMatches[1]]) {
                copy = copy.replace(
                    conditionalMatches[0],
                    conditionalMatches[2]
                );
            } else {
                copy = copy.replace(conditionalMatches[0], '');
            }
        }
        templateString = copy;

        for (var key in data) {
            var find = '\\$\\{\\s*' + key + '\\s*\\}';
            var re = new RegExp(find, 'g');
            templateString = templateString.replace(re, data[key]);
        }

        return templateString;
    }

    document
        .querySelector('#globalSearchForm')
        .addEventListener('submit', e => {
            e.preventDefault();
            document
                .querySelector('#search-results')
                .firstElementChild.querySelector('a')
                .focus();
        });
</script>
