.frontPageHero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
    height: 300px;
    width: 100%;
    position: relative;
    &__image {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__content {
        text-align: center;
        background-color: var(--color_white--80);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding: var(--size_medium) var(--size_large);
        font-weight: 500;
        h1 {
            font-size: var(--font_large);
        }
    }
}
.frontPageCategories {
    width: 100%;
    gap: var(--size_large);
    display: flex;
    list-style-type: none;
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }
    &__category {
        position: relative;
        height: 250px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
    }
    &__link {
        width: 100%;
        background-color: var(--color_white--80);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding: var(--size_medium) var(--size_large);
        font-size: var(--font_large);
        font-weight: 500;
    }
}
@media screen and (max-width: 550px) {
    .frontPageCategories {
        flex-direction: column;
        &__category {
            height: 200px;
        }
    }
}
