.productSection {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 1fr;
    gap: var(--size_medium) var(--size_large);
    grid-auto-flow: row;
    grid-template-areas:
        'productBreadcrumbs productBreadcrumbs'
        'productGallery productTitle'
        'productGallery productContent';
}

.productBreadcrumbs {
    grid-area: productBreadcrumbs;
}
.productGallery {
    grid-area: productGallery;
    display: flex;
    flex-wrap: wrap;
    gap: var(--size_medium);
    overflow: hidden;
}
.productImage {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 3 / 4;
}
.productImageCarousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
    gap: var(--size_medium);
    scroll-snap-type: x mandatory;
    padding-bottom: var(--size_medium);
    > * {
        width: 40%;
        flex: 0 0 auto;
        scroll-snap-align: start;
    }

    &::-webkit-scrollbar {
        height: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--color_white);
        border-radius: var(--size_medium);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--color_green);
        border-radius: var(--size_medium);
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--color_black);
    }
}
.productTitle {
    grid-area: productTitle;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &__title {
        font-family: Arsenal SC;
        font-weight: 700;
        text-transform: uppercase;
        font-size: var(--font_xx-large);
    }
}
.productContent {
    grid-area: productContent;
    display: flex;
    flex-direction: column;
    gap: var(--size_medium);
}
.productInfobar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.productRating {
    &__stars {
        display: flex;
    }
}
.productPrice {
    font-size: var(--font_large);
}

@media screen and (max-width: 550px) {
    .productSection {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            'productBreadcrumbs'
            'productTitle'
            'productGallery'
            'productContent';
    }
}
