@import './abstracts/_variables.scss';

@import './base/_reset.scss';
@import './base/_typography.scss';

@import './components/breadcrumb/_list.scss';
@import './components/breadcrumb/_item.scss';

@import './layout/_banner.scss';
@import './layout/_header.scss';
@import './layout/_footer.scss';
@import './layout/_menu.scss';
@import './layout/_search.scss';

@import './pages/_productPage.scss';

@import './vendors/_snipcart.scss';

.hidden {
    display: none !important;
}

.list {
    list-style-type: none;
}
.icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
    &--circle {
        border-radius: 50%;
    }
    &--small {
        height: 18px;
        width: 18px;
    }
}
.uppercase {
    text-transform: uppercase;
}

@keyframes globalMenuSlideIn {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes globalMenuSlideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-150%);
    }
}
@keyframes showBackdrop {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

a {
    color: inherit;
}
button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    color: black;
}

.productTile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    border-radius: var(--size_medium);
    overflow: hidden;
    aspect-ratio: 3 / 4;
    position: relative;
    padding: var(--size_medium);
    box-shadow: var(--effect_shadow--inset);
    &__title {
        bottom: var(--size_medium);
        background-color: var(--color_green--50);
        z-index: 1;
        padding: var(--size_small);
        border-radius: var(--size_small);
        width: 100%;
        text-align: center;
        font-family: Arsenal SC;
        font-weight: 700;
        font-size: var(--font_large);
        color: white;
        text-shadow: var(--effect_shadow--drop);
        text-transform: uppercase;
    }
    &__image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        &--hover {
            display: none;
        }
    }
    &:hover {
        .productTile__image {
            display: none;
            &--hover {
                display: block;
            }
        }
    }
}

.productGrid {
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    li {
        width: calc(25% - 0.75rem);
    }
}
@media screen and (max-width: 550px) {
    .productGrid {
        li {
            width: calc(50% - 0.5rem);
        }
    }
}

.productPage {
    &__header {
        font-weight: 500;
        font-size: 1.75em;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    &__subHeader {
        font-weight: 500;
        font-size: 1.15em;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}
@media screen and (max-width: 550px) {
    .productPage {
        &__productImage {
            &--primary {
                min-width: 100%;
            }
        }
    }
}

.button {
    display: flex;
    color: var(--color_white);
    background-color: var(--color_green);
    justify-content: center;
    align-items: center;
    border-radius: var(--size_medium);
    padding: var(--size_small);
    gap: var(--size_small);
    &:hover {
        text-decoration: underline;
    }
    &:disabled {
        background-color: #555555;
        cursor: not-allowed;
        &:hover {
            text-decoration: none;
        }
    }
}
.label {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #576672;
    &--small {
        gap: 0.25rem;
    }
}

.section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem;
    max-width: 1200px;
    margin: auto;
    &--green {
        background-color: var(--color_green);
        color: var(--color_white);
        box-shadow: 0 0 0 100vmax var(--color_green);
        clip-path: inset(0 -100vmax);
    }
    &__content {
        flex: 1;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &--full {
            width: 100%;
            min-width: 100%;
        }
        &--center {
            align-items: center;
        }
        &--row {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &--reverse {
        flex-direction: row-reverse;
    }
}
@media screen and (max-width: 550px) {
    .section {
        flex-direction: column;
        padding: 2rem 1rem;
        &:first-of-type {
            padding: 0 1rem 2rem 1rem;
        }
        &--reverse {
            flex-direction: reverse;
        }
        &__content {
            &--toRow {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
}
.indented {
    padding-left: 2.075rem;
}

.sizeSelector {
    outline: 1px solid #242f28;
    position: relative;
    display: flex;
    width: 100%;
    border-radius: var(--size_medium);
    &__label {
        padding: 0.5rem 2.5rem;
        white-space: nowrap;
        color: var(--color_black);
        background-color: var(--color_white);
        border-right: 1px solid var(--color_green);
    }
    &__input {
        text-align: right;
        color: var(--color_black);
        background-color: var(--color_white);
        border-radius: 0 var(--size_medium) var(--size_medium) 0;
        appearance: none;
        font-size: 16px;
        font-family: inherit;
        border: none;
        padding: 0.5rem 2.5rem;
        flex: 1;
        min-width: 0px;
        &--error {
            outline: 2px solid #dc0000;
        }
    }
}
.searchableSelect {
    outline: 1px solid #242f28;
    position: relative;
    display: flex;
    width: 100%;
    border-radius: var(--size_medium);
    &__label {
        padding: 0.5rem 2.5rem;
        white-space: nowrap;
        color: var(--color_black);
        background-color: var(--color_white);
        border-right: 1px solid var(--color_green);
    }
    .choices {
        width: 100%;
        border-radius: 0 var(--size_medium) var(--size_medium) 0;
        background-color: var(--color_white);
        &__inner {
            background-color: transparent;
            border: none;
            min-height: 0px;
            font-size: 16px;
            color: #242f28;
            padding-bottom: 0px !important;
            padding: 0.5rem 2.5rem;
            text-align: right;
        }
        &__list {
            &--single {
                padding: 0;
            }
        }
    }
}

.reviews {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    &::-webkit-scrollbar {
        appearance: none;
    }
    &::-webkit-scrollbar-track {
        background: linear-gradient(#242f28 80%, darken(#242f28, 10) 80%);
        height: 20px;
    }
    &::-webkit-scrollbar-thumb {
        cursor: grab;
        background: linear-gradient(#242f28, 80%, white 80%);
    }
    &::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(#242f28, 50%, white 50%);
    }
    &::-webkit-scrollbar-thumb:active {
        cursor: grabbing;
    }
}
.review {
    background-color: white;
    color: black;
    padding: 2.5%;
    min-width: 30%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    border-radius: 4px;
    &__name {
        font-weight: 500;
        text-align: right;
    }
    &:not(:last-of-type) {
        margin-right: 5%;
    }
}

.toc {
    border: 2px solid #242f28;
    background-color: #242f28;
    width: 100%;
    border-radius: 4px;
    &__title {
        padding: 0.5rem 1rem;
        color: white;
        white-space: nowrap;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #TableOfContents {
        padding: 0.5rem 1rem;
        background-color: white;
        border-radius: 2px;
        > ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
        }
    }
}
