{{ define "main" }}
<section
    class="section"
    aria-labelledby="primaryHeading"
>
    <div class="section__content">
        <ol class="breadcrumb__list">
            <li>
                <a
                    class="breadcrumb__item breadcrumb__item--first"
                    href='{{ "/" | relLangURL }}'
                >
                    {{ T "frontPage" }}
                </a>
            </li>
            <li>
                <a
                    class="breadcrumb__item"
                    href="{{ .Permalink }}"
                >
                    {{ .Title }}
                </a>
            </li>
        </ol>
        <h1
            class="title"
            id="primaryHeading"
        >
            {{ T "allOur" }} {{ lower .Title }}
        </h1>
        <ol class="productGrid">
            {{ range .Pages }}
            <li>
                <a
                    href="{{ .RelPermalink }}"
                    class="productTile"
                >
                    <div class="imageWrapper">
                        <img
                            class="productTile__image"
                            src="{{ .RelPermalink }}{{ .Params.ProductImage }}"
                            alt="{{ .Params.ProductImage }}"
                        />
                    </div>
                    <span class="productTile__title"> {{ .Title }} </span>
                </a>
            </li>
            {{ end }}
        </ol>
        <div class="markdown">{{ .Content }}</div>
    </div>
</section>
{{ end }}
