{{ define "main" }}
<section class="section">
    <div class="section__content">
        <ol class="productGrid">
            {{ range .Pages }}
            <li>
                <a
                    href="{{ .RelPermalink }}"
                    class="productTile"
                >
                    <img
                        class="productTile__image"
                        src="{{ .RelPermalink }}{{ .Params.ProductImage }}"
                        alt="{{ .Params.ProductImage }}"
                    />
                    <img
                        class="productTile__image productTile__image--hover"
                        src="{{ .RelPermalink }}{{ .Params.ProductImage2 }}"
                        alt="{{ .Params.ProductImage2 }}"
                    />
                    <span>
                        <strong>{{ .Title }}</strong>
                    </span>
                    <span class="price">
                        {{ .Params.Price }} {{ .Params.Valuta }}
                    </span>
                </a>
            </li>
            {{ end }}
        </ol>
    </div>
</section>
{{ end }}
