{{ define "main" }}

<section class="section">
    <div class="section__content section__content--full">
        <ol class="breadcrumb__list">
            <li>
                <a
                    class="breadcrumb__item"
                    href='{{ "/" | relLangURL }}'
                >
                    {{ T "frontPage" }}
                </a>
            </li>
            <li>
                <a
                    class="breadcrumb__item"
                    href='{{ replaceRE "[^/]+/$" "" .Permalink }}'
                >
                    {{ .Params.Breadcrumb }}
                </a>
            </li>
            <li>
                <a
                    class="breadcrumb__item breadcrumb__item--last"
                    href="{{ .Permalink  }}"
                >
                    {{ .Title }}
                </a>
            </li>
        </ol>
    </div>
    <div
        class="section__content section__content--center section__content--row"
    >
        <img
            class="productPage__productImage productPage__productImage--primary"
            src="{{ .Params.ProductImage }}"
            alt="{{ .Title }}"
        />
        <img
            class="productPage__productImage"
            src="{{ .Params.ProductImage2 }}"
            alt="{{ .Title }}"
        />
        <img
            class="productPage__productImage"
            src="{{ .Params.ProductImage2 }}"
            alt="{{ .Title }}"
        />
    </div>
    <div class="section__content">
        <h1 class="productPage__header">{{ .Title }}</h1>
        <div class="price">{{ .Params.Price }} {{ .Params.Valuta }}</div>
        <div class="label label--small">
            <img
                class="icon"
                src="/icons/star.svg"
                alt=""
            />
            <img
                class="icon"
                src="/icons/star.svg"
                alt=""
            />
            <img
                class="icon"
                src="/icons/star-half.svg"
                alt=""
            />
            <img
                class="icon"
                src="/icons/star-outline.svg"
                alt=""
            />
            <em>3 {{ T "reviews" }}</em>
        </div>
        <div class="label">
            <img
                class="icon icon--circle"
                src="/flag-danish.svg"
                alt=""
            />
            {{ T "madeInDenmark" }}
        </div>
        {{ with .Params.Selectables }}
        <div class="searchableSelect">
            <label
                for="searchableSelect"
                class="searchableSelect__label"
            >
                {{ $.Params.SelectablesTitle }}</label
            >
            <select
                id="searchableSelect"
                class="searchableSelect__select"
            >
                {{ range . }}
                <option value="{{ . }}">{{ . }}</option>
                {{ end }}
            </select>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
        <script type="module">
            const selectElement = document.getElementById('searchableSelect');

            const choices = new Choices(selectElement, {
                searchEnabled: true,
                shouldSort: false,
                removeItemButton: false,
                noResultsText: '{{ T "searchableSelectNoResults" }}',
                itemSelectText: '{{ T "searchableSelectItemSelect" }}',
            });

            let buyButton = document.querySelector('#buyButton');
            buyButton.setAttribute(
                'data-item-custom2-name',
                '{{ $.Params.SelectablesTitle }}'
            );
            buyButton.setAttribute('data-item-custom2-type', 'readonly');
            buyButton.setAttribute('data-item-custom2-required', 'true');
            buyButton.setAttribute(
                'data-item-custom2-value',
                selectElement.value
            );
            selectElement.addEventListener('change', () => {
                buyButton.setAttribute(
                    'data-item-custom2-value',
                    selectElement.value
                );
            });
        </script>
        {{ end }}
        <div class="sizeSelector">
            <label
                for="sizeSelector"
                class="sizeSelector__label"
            >
                {{ .Params.SizeSelect }}
            </label>
            <input
                type="text"
                id="sizeSelector"
                min="{{ int .Params.SizeMin }}"
                max="{{ int .Params.SizeMax }}"
                value="{{ int .Params.SizeDefault }}"
                data-error-message="{{ .Params.SizeError }}"
                placeholder="0"
                pattern="^[0-9]{2}$"
                inputmode="numeric"
                class="sizeSelector__input"
                onkeyup="validateInput(this.value)"
                oninput="validateInput(this.value)"
                onclick="this.select()"
            />
        </div>
        {{ partial "snipcart/buyButton.html" . }} {{ .Content }} {{ range
        .Site.Menus.productLabels}}
        <div class="label">
            <img
                class="icon"
                src="/icons/{{ .Page.Params.Icon }}.svg"
                alt=""
            />
            <a href="{{ .URL }}">{{ .Page.Params.Label }}</a>
        </div>
        {{ end }}
    </div>
</section>
<section class="section section--green">
    <div class="section__content">
        <h2 class="productPage__header">
            <img
                src="/icons/information-circle-outline.svg"
                class="icon"
            />
            {{ T "informations" }}
        </h2>
        <h3 class="productPage__subHeader">
            <img
                src="/icons/layers-outline.svg"
                class="icon"
            />
            {{ T "materials" }}
        </h3>
        <ul class="list indented">
            {{ range .Params.Materials }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
        <h3 class="productPage__subHeader">
            <img
                src="/icons/infinite-outline.svg"
                class="icon"
            />
            {{ T "care" }}
        </h3>
        <div class="indented">{{ .Params.ProductCare }}</div>
    </div>
    <div class="section__content"></div>
    {{ with .Params.Reviews }}
    <div class="section__content section__content--full">
        <h2 class="productPage__header">
            <img
                class="icon"
                src="/icons/star-white.svg"
                alt=""
            />
            {{ T "allReviews" }}
        </h2>
        <ul
            class="reviews"
            tabindex="0"
        >
            {{ range . }}
            <li class="review">
                <p>{{ .text }}</p>
                <p class="review__name">{{ .name }}</p>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</section>
<section class="section">
    <div class="section__content">
        <h2 class="productPage__header">{{ T "alternativeProducts" }}</h2>
        <ul class="productGrid">
            {{ range where .Site.RegularPages "Title" "in"
            .Params.AlternativeProducts }}
            <li>
                <a
                    href="{{ .RelPermalink }}"
                    class="productTile"
                >
                    <img
                        class="productTile__image"
                        src="{{ .RelPermalink }}{{ .Params.ProductImage }}"
                        alt="{{ .Params.ProductImage }}"
                    />
                    <img
                        class="productTile__image productTile__image--hover"
                        src="{{ .RelPermalink }}{{ .Params.ProductImage2 }}"
                        alt="{{ .Params.ProductImage2 }}"
                    />
                    <span> {{ .Title }} </span>
                    <span class="price">
                        {{ .Params.Price }} {{ .Params.Valuta }}
                    </span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</section>
<script>
    function validateInput(inputValue) {
        if (inputValue.length >= 3 || isNaN(inputValue.slice(-1))) {
            inputValue = inputValue.substring(0, inputValue.length - 1);
            event.target.value = inputValue;
        } else if (inputValue.length < 2) {
            sizeSelector.classList.add('sizeSelector__input--error');
            buyButton.querySelector('span').innerText =
                sizeSelector.getAttribute('data-error-message');
            buyButton.disabled = true;
        } else if (inputValue < sizeSelector.getAttribute('min')) {
            event.target.value = sizeSelector.getAttribute('min');
            sizeSelector.classList.remove('sizeSelector__input--error');
            buyButton.querySelector('span').innerText = '{{ T "addToBag" }}';
            buyButton.disabled = false;
        } else if (inputValue > sizeSelector.getAttribute('max')) {
            event.target.value = sizeSelector.getAttribute('max');
            sizeSelector.classList.remove('sizeSelector__input--error');
            buyButton.querySelector('span').innerText = '{{ T "addToBag" }}';
            buyButton.disabled = false;
        } else {
            sizeSelector.classList.remove('sizeSelector__input--error');
            buyButton.disabled = false;
            buyButton.querySelector('span').innerText = '{{ T "addToBag" }}';
        }
    }
</script>
{{ end }}
