.breadcrumb__item {
    text-decoration: none;
    position: relative;
    color: var(--color_gray);
    &:hover {
        text-decoration: underline;
    }
    &::before {
        content: '>';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-150%, -50%);
    }
    &--first {
        &::before {
            content: '';
        }
    }
}
