<a
    href="https://dashboard.simpleanalytics.com/?utm_source=stellaholm.com&utm_content=badge"
    referrerpolicy="origin"
    target="_blank"
>
    <picture>
        <source
            srcset="https://simpleanalyticsbadges.com/stellaholm.com?mode=dark"
            media="(prefers-color-scheme: dark)"
        />
        <img
            src="https://simpleanalyticsbadges.com/stellaholm.com?mode=light"
            loading="lazy"
            referrerpolicy="no-referrer"
            crossorigin="anonymous"
        />
    </picture>
</a>
