body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
}

.bold {
    font-weight: 600;
}
.highlight {
    background-color: red;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.title {
    font-family: Arsenal SC;
    font-weight: 700;
    text-transform: uppercase;
    font-size: var(--font_x-large);
    text-decoration: none;
    text-align: center;
    width: 100%;
}

@font-face {
    font-display: swap;
    font-family: 'Arsenal SC';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/arsenal-sc-v1-latin-700.woff2') format('woff2');
}
