{{ define "main" }}
<section class="section">
    <div class="section__content">
        <h1 class="title title--center">{{ .Title }}</h1>
        <ul class="list">
            {{ range .Pages }}
            <li class="box">
                <a
                    class="box__content"
                    href="{{ .RelPermalink}}"
                >
                    <h2 class="title title--small title--arsenal">
                        {{ .Title }} {{ with .Params.Icon }}
                        <img
                            src="/icons/{{ . }}-green.svg"
                            alt=""
                            width="30"
                            height="30"
                        />
                        {{ end }}
                    </h2>
                    <div class="markdown">{{ .Content }}</div>
                </a>
                <div class="box__content">
                    <img
                        class="image"
                        src="{{ .RelPermalink}}{{ .Params.Image }}"
                        alt=""
                    />
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</section>
{{ end }}
